# 1.Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from env import host, username, password

def get_db_url(username,password,host,db_name):
    return f'mysql+pymysql://{username}:{password}@{host}/{db_name}'
url =  get_db_url(username,password,host, 'employees')

ModuleNotFoundError: No module named 'env'

# 2.Use your function to obtain a connection to the employees database.

In [3]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)


query = '''
SELECT
    t.title as title,
    d.dept_name as dept_name
FROM titles t
JOIN dept_emp USING (emp_no)
JOIN departments d USING (dept_no)
LIMIT 100
'''

title_dept = pd.read_sql(query, url)
title_dept.head()

NameError: name 'url' is not defined

# 3.Once you have successfully run a query:
a. Intentionally make a typo in the database url. What kind of error message do you see?

b. Intentionally make an error in your SQL query. What does the error message look like?

In [6]:
url = get_db_url(hofst, username, password)
pd.read_sql('SELECT * FROM employtees LIMIT 5 OFFSET 50', url)

NameError: name 'get_db_url' is not defined